openapi: 3.0.4
info:
  title: SEO Quick Validator
  description: >-
    SEO Validator is a simple tool for validating SEO metrics. It returns a list
    of issues that need to be fixed to improve the SEO metrics of a web page.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/seovalidator:
    post:
      summary: Validate SEO Metrics
      description: Validate the SEO metrics of a web page
      operationId: seovalidator
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  url: https://apiverve.com
                  passed: false
                  entries: 2
                  output:
                    - There are 62 'a' tag without rel attribute.
                    - This HTML does not have 'meta name=descriptions' in 'head'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The URL of the web page to validate the SEO metrics of
              required:
                - url
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  url: https://apiverve.com
